.Ubicacion  {
    font-size: 1em !important;
    margin-bottom: 30px !important;
    color: #8f9cc0 !important;
}

.Ubicacion span {
    font-size: 1em !important;
    color: #8f9cc0 !important;
    margin: 0 5px !important;
}