
.Inicio_Contenedor {
    width: 100%;
    margin-top: 20px;
}

.Inicio_Contenedor_div {
    width: 98%;
    height: 120px;
    background-color: var(--bs-purple);
    color: #3f80ea;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    padding: 10px;
    display: flex;
    position: relative;
}

.Inicio_Contenedor_div h4 {
    font-size: 1.3em;
    color: #fff;
}

.Inicio_Contenedor_div p {
    color: #dedede;
    margin-top: -20px;

}

.Inicio_Contenedor_div img {
    width: 100%;
    height: 170px;
    transform: scaleX(-1);
    margin-top: -28px;
    margin-right: 20px;
}

.Inicio_Contenedor_div button {
    width: 200px;
    height: 35px;
    position: absolute;
    top: 40%;
    right: 5%;
    color: var(--bs-purple);
    background-color: var(--bs-white);
    border: none;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.Inicio_Contenedor_div button:hover {
    color: var(--bs-blue);
}

.Inicio_Contenedor_opcion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    

}

.Inicio_Contenedor_opcion_Menu {
    width: 21.5%;
    height: 150px;
    background-color: #fff;
    box-shadow: -7.829px 11.607px 20px 0px #e4e3f5;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid #e8e8f7;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.Inicio_Contenedor_opcion_Menu:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.Inicio_Contenedor_opcion_Menu:hover .opcion_Menu_Icono {
    color: #ffffff;
}

.opcion_Menu_Contenedor {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60%;
    right: 3%;
    border-radius: 50%;
    background-color: var(--bs-purple);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcion_Menu_Icono {
    font-size: 2em;
    color: #fcfcfc;
    margin-top: 25%;
}

.Inicio_Contenedor_opcion_Menu h4 {
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.Inicio_Contenedor_opcion_Menu p {
    margin-top: -10px;
    font-size: 0.8em;
    color: #959595;
}